In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
%matplotlib inline


titanic=pd.read_csv('C:/Users/aadar/Downloads/sample_data_check.csv')
titanic.head()

,age,length_of_service,city_name,department_name,job_title,gender_full,STATUS,BUSINESS_UNIT
0,52,17,Vancouver,Executive,CEO,Male,ACTIVE,HEADOFFICE
1,53,18,Vancouver,Executive,CEO,Male,ACTIVE,HEADOFFICE
2,54,19,Vancouver,Executive,CEO,Male,ACTIVE,HEADOFFICE
3,55,20,Vancouver,Executive,CEO,Male,ACTIVE,HEADOFFICE
4,56,21,Vancouver,Executive,CEO,Male,ACTIVE,HEADOFFICE

In [2]:
titanic.groupby(gender_full)

NameError: name 'gender_full' is not defined

 titanic.groupby(titanic['gender_full']).size()

In [19]:
d=titanic.groupby(titanic['gender_full']).size()

In [11]:
titanic.where(titanic['gender_full']!='Male' and titanic['gender_full']!='Female')

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [20]:
titanic.groupby(titanic['gender_full']).size()

gender_full
Female    2849
Male      2115
dtype: int64

In [ ]:
2849+2115